body {
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
}

.container {
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}
button {
    cursor: pointer;
    padding: 8px 32px;
    color: #F9FAF8;
    font-weight: 700;
    font-size: 18px;
    background-color: #3882F6;
}

.hero {
    background-color: #1F2937;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-wrapper .nav ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
.header-wrapper .nav ul li a {
    color: #F9FAF8;
    text-decoration: none;
    font-size: 16px;;
}
.hero .logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 48px;
    padding: 100px 0;
}
.hero-content .content {
    flex: 2;
    max-width: 450px;
}
.hero-content .hero-image {
    flex: 3;
    background-color: #6E6E6E;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content .hero-image span {
    color: #F9FAF8;
    font-size: 14px;
}

.hero-content button {

    border:2px solid #3882F6;;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.hero-content h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}
.hero-content p {
    font-size: 18px;
    color: #E5E7EB;
}

#information {
    padding: 64px 0;
}

#information .title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-top: 0;
    margin-bottom: 48px;
}
.info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    flex-wrap: wrap;
}
.info-wrapper .item {
    display: flex;
    flex-direction: column;
    max-width: 190px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.info-wrapper .item .image {
    width: 180px;
    height: 180px;
    border: 3px solid #3882F6;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-bottom: 8px;
}

#testimonial {
    background-color: #E5E7EB;
    padding: 100px 0;
}
#testimonial .testimonial-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
#testimonial .quote {
    padding: 32px 64px;
    max-width: 820px;
}
#testimonial .quote p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    margin-top:0;
    margin-bottom: 16px;
    font-weight: 300;
    
}
#testimonial .quote .author {
    font-size: 22px;
    font-weight: 700;
    text-align: right;
    color: #1F2937;
    margin-right: 32px;
    font-style: normal;
}

#contact {
    padding: 80px 0;
}
#contact .cta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding: 48px 64px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
#contact .cta h3 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 20px;
    color: #F9FAF8;
    font-weight: 900;
}
#contact .cta p {
    margin: 0;
    font-size: 18px;
    color:#F9FAF8;
    font-weight: 300;
}
#contact .cta button {
    border: 2px solid #F9FAF8;
    font-size:18px;
    color: #F9FAF8;
    font-weight: 700;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}
footer p {
    font-size: 14px;
    margin: 0;
    text-align: center;
}